<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Absences </h4>
                        <p class="card-category">Here is your Absences</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
 
      <tr>
        <th>ID</th>
        
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Raison</th>
        <th>Approuvé</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
       
        <td>2023-11-01</td>
        <td>2023-11-03</td>
        <td>Maladie</td>
        <td>Oui</td>
      </tr>
      <tr>
        <td>2</td>
   
        <td>2023-12-10</td>
        <td>2023-12-15</td>
        <td>Permission</td>
        <td>Non</td>
      </tr>
      <tr>
        <td>3</td>
  
        <td>2023-12-25</td>
        <td>2023-12-27</td>
        <td>Voyage</td>
        <td>Oui</td>
      </tr>
      <tr>
        <td>4</td>
    
        <td>2023-12-31</td>
        <td>2024-01-01</td>
        <td>Repos</td>
        <td>Oui</td>
      </tr>
    </tbody>
  </table>
